server:
  port: 8088

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://${EUREKA_ENDPOINT}

spring:
  application:
    name: apigateway
  cloud:
    gateway:
      routes:
        - id: service1
          uri: lb://service1
          predicates:
            - Path=/service1/**
          filters:
            - RewritePath=/service1(?<segment>/?.*), $\{segment}
        - id: test2
          uri: lb://service2
          predicates:
            - Path=/service2/**
          filters:
            - RewritePath=/service2(?<segment>/?.*), $\{segment}

management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: gateway